<div class="header hidden">
    <ul class="nav nav-pills pull-right hidden">
        <li class="active"><a ng-href="#">Home</a></li>
        <li><a ng-href="#">About</a></li>
        <li><a ng-href="#">Contact</a></li>
    </ul>
    <div class="col-md-4 pull-right hidden">
        <span class="text-info">Summary: {{getTotalTitle()}}</span>

        <p class="text-primary lead">{{totalAmount}} &#x20aa;</p>
    </div>

    <div class="btn btn-danger" ng-click="exit()">Exit</div>

    <h3 class="text-muted">myExpenses</h3>
</div>


<div class="row clearfix">
    <table class="table table-hover table-striped filters-table ng-enter">
        <thead>
        <tr>
            <th class="col-md-2">
                Date
                <p class="input-group">

                    <input type="text" class="form-control" disabled="disabled"
                           datepicker-popup="{{format}}" ng-model="filterDate" is-open="opened"
                           id="filterDate"
                           ng-change="onFilterDate()"
                           min-date="minDate" max-date="'2015-06-22'"
                           datepicker-options="dateOptions"
                           date-disabled="disabled(date, mode)" ng-required="true"
                           close-text="Close"/> <span class="input-group-btn">
	                <button type="button" class="btn btn-default" ng-click="open($event)"><i
                            class="glyphicon glyphicon-calendar"></i></button>
	              </span>
                </p>
            </th>
            <th class="col-md-4">
                <p class="input-group">
                    Tags
                    <input type="text" ng-model="query" class="form-control"/>
                </p>
            </th>
            <th class="col-md-2" ng-click="setOrder('amount')">
                <p class="input-group">
                </p>
            </th>
            <th class="col-md-4">
                <p class="input-group">
                    <span class="text-info">Summary: {{getTotalTitle()}}</span>

                <p class="text-primary lead" ng-if="expenses.length">{{totalAmount}} &#x20aa;</p>
                </p>
            </th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="pull-left col-md-8 expenses-table" ng-if="expenses.length">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th></th>
                <th><span class="glyphicon glyphicon-sort-by-order-alt c-pointer"></span></th>
                <th><span class="glyphicon glyphicon-sort-by-alphabet-alt c-pointer" ng-click="setOrder('tags')"></span>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="expense in expenses | orderBy: orderBy | filter: query | mDateFilter | setTotalAmount">
                <td class="col-md-4">{{expense.time | date: 'fullDate'}}</td>
                <td class="col-md-4">&#x20aa; <input type="text" class="input" ng-model="expense.amount" in-place-edit ng-blur="updateExpense(expense)"/></td>
                <td class="col-md-8"><input type="text" class="input" ng-model="expense.tag" in-place-edit ng-blur="updateExpense(expense)"/></td>
                <td class="col-md-2"><span class="glyphicon glyphicon-remove-circle c-pointer"
                                           ng-click="deleteExpense(expense.id)"></span></td>
            </tr>
            </tbody>
        </table>
    </div>

    <form role="form" ng-submit="addExpense()" class="form-horizontal pull-right">
        <div class="form-group">
            <label for="Date">Date</label>
            <datepicker show-weeks="false" ng-model="time" class="well well-sm"></datepicker>
            <!-- <datepicker min-mode="month" datepicker-mode="'month'" ng-model="time" min-date="minDate" show-weeks="true" class="well well-sm" ></datepicker> -->
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Tag</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="tag" ng-model="tag"/>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Amount</label>
            <input type="number" class="form-control" id="exampleInputPassword1" placeholder="amount"
                   ng-model="amount"/>
        </div>
        <button type="submit" class="btn btn-lg btn-primary">Add</button>
    </form>
</div>

<div class="row marketing hidden">
</div>

<div class="footer hidden">
    <p>♥ from the sangress team</p>
</div>
